<!DOCTYPE html>
<html lang="uk">
<head>
	{{> page/head}}
</head>
<body class="site" id="top"> <!--anchor-->
	
	{{> page/header}}
	
	<main class="site-content" id="content">
		<!-- <div id="dialog" class="dialog hidden"></div> -->
		<div class="pattern-content">
			<div class="container">
				{{{body}}}
			</div>
		</div>
	</main>
	
	{{> page/footer}}
	
</body>
</html>