body > footer {
	position: relative;
	background-color: rgb(70, 70, 70);
	padding: 30px 0;
	overflow: hidden;
	nav {
		display: inline-block;
		overflow: hidden;
		width: 85%;
		@media (max-width: $mobile-container-width) {
			width: 100%;
		}
	}
}

ul.footer-menu {
	width: 100%;
	color: rgba(255,255,255,0.7);
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 2.2;
	text-transform: uppercase;
	overflow: hidden;
	li {
		display: inline-block;
		box-sizing: border-box;
		cursor: pointer;
		&:hover {
			color: white;
		}
		padding-right: 40px;
	}
	@media (max-width: $mobile-container-width) {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		box-sizing: border-box;
		li {
			padding-right: 0;
			margin: 0 10px;
		}
	}
}
div.footer-helpers {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	a {
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
	a+a {
		margin-left: 25px;
	}
	@media (max-width: $mobile-container-width) {
		display: block;
		position: static;
		text-align: center;
		margin-top: 30px;
	}
}

/*make it sticky*/
.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex-grow: 1;
}