.chosen-container-multi .chosen-choices {
	background-image: none;
	border: $input_border;
	border-radius: 5px;
	min-height: $input_height;
	padding: 4px 9px;
}


.chosen-container-multi .chosen-choices {
	box-shadow: none;
}

.chosen-container-multi .chosen-choices li.search-choice {
	margin: 5px 5px 5px 0;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	margin-top: 3px;
}