<!DOCTYPE html>
<html lang="uk">
<head>
	{{> page/head}}
</head>
<body class="site" id="top"> <!--anchor-->
	
	{{> page/header}}

	<nav class="admin-menu">
		<div class="container">
			<ul>
				<li>
					<a href="/admin/companies">Компанії</a>
				</li>
				{{#roleAdmin loggedUser}}
					<li>
						<a href="/admin/users">Користувачі</a>
					</li>
				{{/roleAdmin}}
			</ul>
		</div>
	</nav>
	
	<main class="site-content" id="content">
		<div class="container admin-container">
			{{{body}}}
		</div>
	</main>
	
	{{> page/footer}}
	
</body>
</html>