<div id="dialog" class="dialog">
    <div id="dialog_content" class="dialog_content">
        <h1 class="dialog__h1">
    		Відновлення пароля
    	</h1>
        {{#if errors.dialog}}
            <div class="dialog-error">
                {{errors.dialog}}
            </div>
        {{/if}}
        <p>
            Вкажіть, будь ласка, e-mail, і ми скинемо вам посилання на відновлення паролю
        </p>
        <form action="/forgot" method="post">
            <div class="row {{#if errors.email}}row--error{{/if}}">
                <label class="row__label" for="email">
                    {{#if errors.email}}
                        {{errors.email}}
                    {{else}}
                        E-mail
                    {{/if}}
                </label>
                <input class="row__input higher" type="email" name="email" {{#if email}}value="{{email}}"{{/if}} maxlength="50" />
            </div>
            <button class="dialog__button" type="submit" data-ajax-submit-dialog="forgot">Надіслати</button>
        </form>
        <aside class="dialog__aside">
            <a href="/login" data-ajax-dialog="login">Я згадав/ла пароль</a>
        </aside>
    </div>
</div>