.admin-menu {
	background-color: orange;
	ul {
		li {
			display: inline-block;
			line-height: 14px;
			font-size: 14px;
			color: white;
			padding: 10px;
		}
	}
}

.admin-row {
	&>div {
		display: inline-block;
		vertical-align: top;
		margin-right: 20px;
		margin-bottom: 5px;
	}
}

.admin-action {
	margin-bottom: 50px;
}

.admin-container {
	margin-top: 50px;
	margin-bottom: 50px;
	a {
		color: blue;
	}
	.dialog {
		position: static!important;
	}
}

.admin-row-not-published {
	font-weight: bold;
	font-size: 20px;
}

.admin-row-proposed {
	color: green!important;
}