.search-bar {
	margin-top: 49px;
	background-color: #004a80;
	border-radius: 5px 5px 0 0;
	box-sizing: border-box;
	padding: 30px;
	@media (max-width: $mobile-container-width) {
		margin-top: 15px;
		margin-bottom: 20px;
		padding: 20px;
	}
}

.search-body {
	display: flex;
	@media (max-width: $mobile-container-width) {
		flex-wrap: wrap;
	}
}

.search-params {
	/*flexbox fallback*/
	display: inline-block;
	vertical-align: top;

	width: 28%;
	background-color: #f8f8f8;
	box-sizing: border-box;
	padding: 30px;
	@media (max-width: $mobile-container-width) {
		width: 100%;
		flex-grow: 1;
		background-color: white;
		padding: 0;
	}
}

html.details details.search-params {
	position: relative;
	summary.search-params-header:after {
		content: '';
		position: absolute;
		top: 31px;
		right: 13px;
		width: 14px;
		height: 9px;
		cursor: pointer;
		background-image: url('../img/arrow-white-down.png');
	}
	&[open] {
		summary.search-params-header:after {
			background-image: url('../img/arrow-white-up.png');
		}
	}
}

.search-params-header {
	display: none;
	@media (max-width: $mobile-container-width) {
		$icon-size: 22px;
		$icon-left-gap: 15px;
		box-sizing: border-box;
		height: 65px;
		background-color: #6e9d3a;
		border-radius: 6px 6px 0 0;
		color: white;
		font-size: 1.25rem;
		background-image: url('../img/filter-icon.png');
		background-position: $icon-left-gap center;
		background-repeat: no-repeat;
		background-size: $icon-size;
		padding-left: $icon-size + 2 * $icon-left-gap;
		padding-right: 15px;

		/*flexbox fallback*/
		display: block;
		padding-top: 25px;
		padding-bottom: 25px;
		
		display: flex;
		align-items: center;
		
	}
}

.search-params-body {
	@media (max-width: $mobile-container-width) {
		border: 1px solid #e1e1e1;
		border-bottom: 5px solid #6e9d3a;
		padding: 10px 15px;
	}
}

.search-subtitle {
	margin: 25px 0 15px 0;
	color: #666;
	font-size: 1.375rem;
	font-weight: 600;
	&:first-child {
		margin-top: 5px;
	}
	@media (max-width: $mobile-container-width) {
		margin-top: 15px;
		margin-bottom: 20px;
		&:first-child {
			margin-top: 15px;
		}
	}
}

.search-chk-group {
	margin-bottom: 50px;
	@media (max-width: $mobile-container-width) {
		margin-bottom: 35px;
	}
}

.search-results {
	background-color: rgba(255, 255, 255, 0.78);
	box-sizing: border-box;
	padding: 40px 30px;
	
	/*flexbox fallback*/
	display: inline-block;
	width: 72%;
	
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	@media (max-width: $mobile-container-width) {
		width: 100%;
		padding: 40px 0;
	}
}

.search-results-header {
	color: rgb(102, 102, 102);
	font-size: 0.75rem;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(235, 235, 235);
	margin-bottom: 10px;
}

.search-results-items {
	flex-grow: 1;
	.result-row:nth-child(2n) {
		background-color: #f8f8f8;
	}
}

.result-row {
	display: flex;
	box-sizing: border-box;
	padding: 20px;
	@media (max-width: $mobile-container-width) {
		padding: 15px;
	}
}

.result-row-logo {
	display: inline-block;
	width: 100px;
	min-width: 100px;
	height: 80px;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 0 10px;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	background-color: white;
	img {
		max-width: 100%;
		height: auto;
	}
}

.result-row-body {
	display: inline-block;
	flex-grow: 1;
	color: #666;
	font-size: 1.625rem;
	vertical-align: top;
	margin: 0 20px 0 30px;
	word-break: break-word;
	@media (max-width: $mobile-container-width) {
		margin-left: 15px;
		font-size: 1.5rem;
	}
}

.result-row-desc {
	margin-top: 5px;
	color: #777;
	font-size: 0.875rem;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	/*webkit only*/
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

$loyalty-shown-width: 760px;
.result-row-loyalty {
	display: inline-block;
	vertical-align: middle;
	text-align: right;

	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	width: 160px;
	min-width: 160px;
	@media (max-width: 840px) {
		width: 130px;
		min-width: 130px;
	}
	@media (max-width: $loyalty-shown-width) {
		width: 20px;
		min-width: 20px;
	}
}

.loyalty-mark {
	display: inline-block;
	box-sizing: border-box;
	min-width: 85px;
	text-align: center;
	padding: 9px 12px 7px 14px;
	border-radius: 3px;
	color: rgb(255, 254, 254);
	font-size: 0.75rem;
	font-weight: 400;
	&.loyal {
		background-color: rgb(110, 157, 58);
	}
	&.disloyal {
		background-color: rgb(165, 41, 41);
	}
	&.probation {
		background-color: rgb(247, 149, 33);
	}
	@media (max-width: $loyalty-shown-width) {
		color: transparent;
		padding: 0;
		min-width: auto;
		width: 12px;
		height: 12px;
		border-radius: 50%;
	}
}

.loyalty-color {
	@media (max-width: $loyalty-shown-width) {
		&.loyal {
			color: rgb(110, 157, 58);
		}
		&.disloyal {
			color: rgb(165, 41, 41);
		}
		&.probation {
			color: rgb(247, 149, 33);
		}
	}
}

/*temporary class*/
.search-construct--highlight {
	$color: #6e9d3a;
	height: 60px;
	& > button {
		background-color: $color;
		&:hover {
			background-color: lighten($color, 2%);
		}
		&:active {
			background-color: lighten($color, 5%);
		}
	}
	.search-construct-button {
		width: 69px;
		background-image: url('../img/search-white-small.png');
		background-size: 34px;
	}
}