<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>&laquo;И так поймут&raquo; каталог ЗМІ та бізнесу</title>
<base href="#injected:{base_url}/">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="css/main-#injected:{hash-version}.css">

<meta property="og:title" content='&laquo;И так поймут&raquo; каталог ЗМІ та бізнесу' />
<meta property="og:type" content="website" />
<meta property="og:image" content="#injected:{base_url}/img/social.png" />