body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
}

input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

select {
	outline: none;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

summary {
	outline: none;
}

h1 {
	margin: 0;
}

::-webkit-file-upload-button {
	cursor: pointer;
}