div.dialog--company {
	$width: 680px;
	width: $width;
	& > .dialog_content {
		max-width: 100%;
	}
	@include full-on-width($width);
}

$att-width: 147px;

.company-attachment-h {
	width: $att-width;
	margin: 20px 0 30px 0;
	position: absolute;
	top: 0;
	right: 0;
	@media (max-width: $mobile-container-width) {
		position: relative;
		text-align: center;
		width: 100%;
	}
}

.company-attachment {
	width: $att-width;
	display: inline-block;
	height: 127px;
	border: 3px dashed rgb(225, 225, 225);
	box-sizing: border-box;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	margin-bottom: 12px;
	text-align: center;
	&:before {
		content: 'Лого компанії';
		position: absolute;
		bottom: 14px;
		left: 0;
		text-align: center;
		color: rgb(107, 107, 107);
		font-size: 0.75rem;
		font-weight: 700;
		width: 100%;
	}
	&:after {
		content: '';
		display: inline-block;
		margin-top: 20px;
		@include sprite($sprite-icon-photo-camera);
	}
	input[type="file"] {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		opacity: 0;
		cursor: pointer;
	}
}

div.row--logo {
	@extend .clearfix;
	width: 100%;
	position: relative;
	div.row {
		float: left;
		width: calc(100% - #{$att-width+54px});
		box-sizing: border-box;
		@media (max-width: $mobile-container-width) {
			float: none;
			width: 100%;
		}
	}
}

div.check-row {
	position: relative;
	div.checkbox, div.radio {
		position: absolute;
		top: 2px;
		left: 0;
	}
	& > label {
		display: inline-block;
		color: #929292;
		line-height: 1.3;
		word-wrap: break-word;
		box-sizing: border-box;
		width: 100%;
		padding-left: 30px;
	}
}

div.checkbox[data-checked] + label{
	color: #666;
}
div.radio[data-checked] + label{
	color: #666;
}


ul.violations {
	margin-top: 36px;
}

div.evidance_row {
	margin-top: 10px;
}